@import url("header.css");
@import url("main.css");
@import url("tasks.css");

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg,#5de0e6,#004aad);
    padding: 0 15vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.logo{
    display: flex;
    align-items: center;
}

input[type='button']:hover, a:hover, button:hover{ 
    cursor: pointer;
}

input[type='button']:active{
    transform: scale(0.95);
}


.btn:active{
    background-color: #adaeaf;
}