body{
    display: flex;
    background-color: mediumslateblue;
    justify-content: center;
}
p{
    color: grey;
}
#container{
    margin: 10vh;
    padding: 5vh 2vw;
    border-radius: 15px;
    background-color: white;
}
input, select, textarea{
    height: 5vh;
    width: 20vw;
    border: none;
    background-color: ghostwhite;
    border-radius: 5px;

}

input[type="submit"]{
    background-color:mediumslateblue;
    width: 10vw;
}